In [1]:
import pandas as pd

# 读取CSV文件
futures_gold_df= pd.read_csv('all_commodities_data/all_commodities_data.csv')
futures_gold_df

,ticker,commodity,date,open,high,low,close,volume
0,GC=F,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0
1,GC=F,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0
2,GC=F,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0
3,GC=F,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2
4,GC=F,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...,...
28461,PA=F,Palladium,2023-12-27,1144.800049,1144.800049,1144.800049,1144.800049,5
28462,PA=F,Palladium,2023-12-28,1133.800049,1133.800049,1133.800049,1133.800049,0
28463,PA=F,Palladium,2023-12-29,1104.000000,1104.000000,1104.000000,1104.000000,0
28464,PA=F,Palladium,2024-01-02,1079.099976,1079.099976,1079.099976,1079.099976,0
28465,PA=F,Palladium,2024-01-03,1072.500000,1078.000000,1069.000000,1073.500000,37

In [3]:
futures_gold_df1=futures_gold_df.drop("ticker", axis=1)
futures_gold_df1

,commodity,date,open,high,low,close,volume
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...
28461,Palladium,2023-12-27,1144.800049,1144.800049,1144.800049,1144.800049,5
28462,Palladium,2023-12-28,1133.800049,1133.800049,1133.800049,1133.800049,0
28463,Palladium,2023-12-29,1104.000000,1104.000000,1104.000000,1104.000000,0
28464,Palladium,2024-01-02,1079.099976,1079.099976,1079.099976,1079.099976,0
28465,Palladium,2024-01-03,1072.500000,1078.000000,1069.000000,1073.500000,37

In [4]:
futures_gold_df1["commodity"].value_counts()

Copper       5861
Silver       5858
Gold         5857
Palladium    5565
Platinum     5325
Name: commodity, dtype: int64

In [6]:
futures_fuels_df= pd.read_csv('all_commodities_data/all_fuels_data.csv')
futures_fuels_df1=futures_fuels_df.drop("ticker", axis=1)
futures_fuels_df1["commodity"].value_counts()

Crude Oil          5866
Natural Gas        5862
Heating Oil        5859
RBOB Gasoline      5820
Brent Crude Oil    4078
Name: commodity, dtype: int64

In [7]:
# 将两个DataFrame在垂直方向上拼接
concatenated_df = pd.concat([futures_gold_df1, futures_fuels_df1])
concatenated_df["commodity"].value_counts()

Crude Oil          5866
Natural Gas        5862
Copper             5861
Heating Oil        5859
Silver             5858
Gold               5857
RBOB Gasoline      5820
Palladium          5565
Platinum           5325
Brent Crude Oil    4078
Name: commodity, dtype: int64

In [8]:
concatenated_df.to_csv('futures_data0.csv', index=False)

In [9]:
concatenated_df

,commodity,date,open,high,low,close,volume
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...
27480,Brent Crude Oil,2023-12-27,80.739998,81.320000,79.489998,79.650002,8282
27481,Brent Crude Oil,2023-12-28,79.839996,79.959999,78.339996,78.389999,24301
27482,Brent Crude Oil,2023-12-29,77.419998,77.970001,76.750000,77.040001,20115
27483,Brent Crude Oil,2024-01-02,77.209999,79.040001,75.599998,75.889999,28591
27484,Brent Crude Oil,2024-01-03,78.500000,78.690002,78.339996,78.629997,341

In [10]:
from sklearn.preprocessing import LabelEncoder
# 创建LabelEncoder对象
label_encoder = LabelEncoder()
concatenated_df["commodity_encoded"] = label_encoder.fit_transform(concatenated_df["commodity"])
concatenated_df

,commodity,date,open,high,low,close,volume,commodity_encoded
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,3
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0,3
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,3
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,3
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,3
...,...,...,...,...,...,...,...,...
27480,Brent Crude Oil,2023-12-27,80.739998,81.320000,79.489998,79.650002,8282,0
27481,Brent Crude Oil,2023-12-28,79.839996,79.959999,78.339996,78.389999,24301,0
27482,Brent Crude Oil,2023-12-29,77.419998,77.970001,76.750000,77.040001,20115,0
27483,Brent Crude Oil,2024-01-02,77.209999,79.040001,75.599998,75.889999,28591,0
27484,Brent Crude Oil,2024-01-03,78.500000,78.690002,78.339996,78.629997,341,0

In [19]:
table_futures_df=concatenated_df[["commodity","commodity_encoded"]]
duplicates=table_futures_df.duplicated()
df_no_duplicates = table_futures_df[~duplicates]
df_no_duplicates

             commodity  commodity_encoded
0                 Gold                  3
5857            Silver                  9
11715         Platinum                  7
17040           Copper                  1
22901        Palladium                  6
0            Crude Oil                  2
5866       Heating Oil                  4
11725      Natural Gas                  5
17587    RBOB Gasoline                  8
23407  Brent Crude Oil                  0

In [21]:
concatenated_df.to_csv('futures_data1.csv', index=False)
df_no_duplicates.to_csv('df_no_duplicates0.csv', index=False)

In [23]:
# 使用str.split()函数按斜杠分割特征，并将结果存储在新的列中
concatenated_df[['year', 'month','day']] = concatenated_df['date'].str.split('-', expand=True)
concatenated_df.to_csv('futures_data2.csv', index=False)

In [5]:
import pandas as pd

# 读取CSV文件
futures_gold_df2= pd.read_csv('futures_data2.csv')
futures_gold_df2

,commodity,date,open,high,low,close,volume,commodity_encoded,year,month,day
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,3,2000,8,30
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0,3,2000,8,31
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,3,2000,9,1
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,3,2000,9,5
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,3,2000,9,6
...,...,...,...,...,...,...,...,...,...,...,...
55946,Brent Crude Oil,2023-12-27,80.739998,81.320000,79.489998,79.650002,8282,0,2023,12,27
55947,Brent Crude Oil,2023-12-28,79.839996,79.959999,78.339996,78.389999,24301,0,2023,12,28
55948,Brent Crude Oil,2023-12-29,77.419998,77.970001,76.750000,77.040001,20115,0,2023,12,29
55949,Brent Crude Oil,2024-01-02,77.209999,79.040001,75.599998,75.889999,28591,0,2024,1,2
55950,Brent Crude Oil,2024-01-03,78.500000,78.690002,78.339996,78.629997,341,0,2024,1,3

In [7]:

# 定义滚动窗口大小
window_size = 7

# 计算滚动窗口内的均值特征
futures_gold_df2['open_rolling_mean'] = futures_gold_df2['open'].rolling(window_size).mean()

# 计算滚动窗口内的标准差特征
futures_gold_df2['open_rolling_std'] = futures_gold_df2['open'].rolling(window_size).std()

# 计算滚动窗口内的均值特征
futures_gold_df2['close_rolling_mean'] = futures_gold_df2['close'].rolling(window_size).mean()

# 计算滚动窗口内的标准差特征
futures_gold_df2['close_rolling_std'] = futures_gold_df2['close'].rolling(window_size).std()

# 计算滚动窗口内的均值特征
futures_gold_df2['high_rolling_mean'] = futures_gold_df2['high'].rolling(window_size).mean()

# 计算滚动窗口内的标准差特征
futures_gold_df2['high_rolling_std'] = futures_gold_df2['high'].rolling(window_size).std()

# 计算滚动窗口内的均值特征
futures_gold_df2['low_rolling_mean'] = futures_gold_df2['low'].rolling(window_size).mean()

# 计算滚动窗口内的标准差特征
futures_gold_df2['low_rolling_std'] = futures_gold_df2['low'].rolling(window_size).std()

# 输出结果
futures_gold_df2

,commodity,date,open,high,low,close,volume,commodity_encoded,year,month,day,open_rolling_mean,open_rolling_std,close_rolling_mean,close_rolling_std,high_rolling_mean,high_rolling_std,low_rolling_mean,low_rolling_std
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,3,2000,8,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0,3,2000,8,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,3,2000,9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,3,2000,9,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,3,2000,9,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55946,Brent Crude Oil,2023-12-27,80.739998,81.320000,79.489998,79.650002,8282,0,2023,12,27,78.968572,1.180104,79.437143,0.928453,80.471430,0.815462,78.181428,1.276511
55947,Brent Crude Oil,2023-12-28,79.839996,79.959999,78.339996,78.389999,24301,0,2023,12,28,79.378572,0.810789,79.500000,0.819492,80.535715,0.741413,78.547142,0.718673
55948,Brent Crude Oil,2023-12-29,77.419998,77.970001,76.750000,77.040001,20115,0,2023,12,29,79.288571,0.996534,79.187143,1.246524,80.294286,1.204586,78.449999,0.914203
55949,Brent Crude Oil,2024-01-02,77.209999,79.040001,75.599998,75.889999,28591,0,2024,1,2,78.997142,1.270364,78.642857,1.725174,80.070001,1.279817,77.952856,1.354630
55950,Brent Crude Oil,2024-01-03,78.500000,78.690002,78.339996,78.629997,341,0,2024,1,3,78.905714,1.281351,78.534285,1.693949,79.865715,1.380662,78.022855,1.361074

In [12]:
tomorrow_close=0
list_tomorrow_close=[]
# 使用itertuples()方法遍历DataFrame的数据
for row in futures_gold_df2.itertuples():
    list_tomorrow_close.append(tomorrow_close)
    tomorrow_close=row.close
data = {'tomorrow_close':list_tomorrow_close}
df = pd.DataFrame(data)
futures_gold_df2['tomorrow_close'] = df['tomorrow_close']
futures_gold_df2

,commodity,date,open,high,low,close,volume,commodity_encoded,year,month,day,open_rolling_mean,open_rolling_std,close_rolling_mean,close_rolling_std,high_rolling_mean,high_rolling_std,low_rolling_mean,low_rolling_std,tomorrow_close
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,3,2000,8,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0,3,2000,8,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.899994
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,3,2000,9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.299988
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,3,2000,9,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.000000
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,3,2000,9,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.799988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55946,Brent Crude Oil,2023-12-27,80.739998,81.320000,79.489998,79.650002,8282,0,2023,12,27,78.968572,1.180104,79.437143,0.928453,80.471430,0.815462,78.181428,1.276511,81.070000
55947,Brent Crude Oil,2023-12-28,79.839996,79.959999,78.339996,78.389999,24301,0,2023,12,28,79.378572,0.810789,79.500000,0.819492,80.535715,0.741413,78.547142,0.718673,79.650002
55948,Brent Crude Oil,2023-12-29,77.419998,77.970001,76.750000,77.040001,20115,0,2023,12,29,79.288571,0.996534,79.187143,1.246524,80.294286,1.204586,78.449999,0.914203,78.389999
55949,Brent Crude Oil,2024-01-02,77.209999,79.040001,75.599998,75.889999,28591,0,2024,1,2,78.997142,1.270364,78.642857,1.725174,80.070001,1.279817,77.952856,1.354630,77.040001
55950,Brent Crude Oil,2024-01-03,78.500000,78.690002,78.339996,78.629997,341,0,2024,1,3,78.905714,1.281351,78.534285,1.693949,79.865715,1.380662,78.022855,1.361074,75.889999

In [15]:
# 将NaN值替换为0
futures_gold_df2.fillna(0, inplace=True)

futures_gold_df2.to_csv('futures_data3.csv', index=False)
futures_gold_df2

,commodity,date,open,high,low,close,volume,commodity_encoded,year,month,day,open_rolling_mean,open_rolling_std,close_rolling_mean,close_rolling_std,high_rolling_mean,high_rolling_std,low_rolling_mean,low_rolling_std,tomorrow_close
0,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,3,2000,8,30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0,3,2000,8,31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,273.899994
2,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,3,2000,9,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,278.299988
3,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,3,2000,9,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,277.000000
4,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,3,2000,9,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,275.799988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55946,Brent Crude Oil,2023-12-27,80.739998,81.320000,79.489998,79.650002,8282,0,2023,12,27,78.968572,1.180104,79.437143,0.928453,80.471430,0.815462,78.181428,1.276511,81.070000
55947,Brent Crude Oil,2023-12-28,79.839996,79.959999,78.339996,78.389999,24301,0,2023,12,28,79.378572,0.810789,79.500000,0.819492,80.535715,0.741413,78.547142,0.718673,79.650002
55948,Brent Crude Oil,2023-12-29,77.419998,77.970001,76.750000,77.040001,20115,0,2023,12,29,79.288571,0.996534,79.187143,1.246524,80.294286,1.204586,78.449999,0.914203,78.389999
55949,Brent Crude Oil,2024-01-02,77.209999,79.040001,75.599998,75.889999,28591,0,2024,1,2,78.997142,1.270364,78.642857,1.725174,80.070001,1.279817,77.952856,1.354630,77.040001
55950,Brent Crude Oil,2024-01-03,78.500000,78.690002,78.339996,78.629997,341,0,2024,1,3,78.905714,1.281351,78.534285,1.693949,79.865715,1.380662,78.022855,1.361074,75.889999